@import "../../Styles/scss/Master";

.education {
  padding: 0 16px;
  @include font-black;

  &__header {
    margin: 24px 0 16px;
    font-size: 2rem;
  }

  &__block {
    margin-top: 16px;

    &__title {
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    &__date {
      text-transform: uppercase;
      margin-bottom: 4px;
      color: $colour-grey;
      font-weight: 800;
    }
  }
}
