@import '../../Styles/scss/Master';

.navBar {
  height: 60px;
  background: $colour-black;

  &__list {
    max-width: 400px;
    padding: 20px 16px 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__items {

      a {
        text-decoration: none;
        color: white;
      }
      @include font-white;

      @include tablet {
        font-size: 18px;
      }
      @include laptop {
        font-size: 20px;
      }
    }
  }
}

