@import '../../Styles/scss/Master';

.skillsContainer {
  padding: 0 16px;

  &__header {
    font-size: 1.5rem;
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: antiquewhite;

    &--img{
      height: 80px;
    }
  }
}