@import '../../Styles/scss/Master';

.skillsContainer {
  padding: 24px 16px 16px;
  background: #ffffff;
  @include font-black;

  &__header {
    font-size: 2rem;
    color: $colour-black;
    padding-bottom: 16px;
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: center;
    color: antiquewhite;

    &--img{
      height: 70px;
      width: 70px;
      padding: 5px;
      
    }
  }
}

svg {
  fill: $colour-black;
}
