@import './Fonts';

// Colours 
$colour-black: #0f0f0f;
$colour-grey: #636564;
$colour-offwhite: #f3f3f3;
$colour-white: #FFFFFF;

// Fonts
$font-stack: 'Raleway', sans-serif;
$font-stack-bold: 'Raleway', sans-serif;