@import './Fonts';

// Colours 
$colour-black: #221E22;
$colour-grey: #636564;
$colour-light-grey: #EEF0F2;
$colour-white: #FFFFFF;

// Fonts
$font-stack: 'Raleway', sans-serif;
$font-stack-bold: 'Raleway', sans-serif;